workflow.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1056,
        352
      ],
      "id": "d552cf88-8e79-4e39-b1b2-01271ce47851",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d0e6bf84-cede-4aa5-a6ea-24b0b4736196",
              "name": "endpoint",
              "value": "https://example.com",
              "type": "string"
            },
            {
              "id": "0a1f27fd-91ba-4417-a0c8-371b52b4c11c",
              "name": "key",
              "value": "supersecrethyperhardtoremmemberapikey",
              "type": "string"
            },
            {
              "id": "c404ccfa-fff2-41b5-8ca0-8406322ec32e",
              "name": "lessDetail",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "bae98e78-58b8-40f6-842f-9df685eb922c",
              "name": "warnAfter",
              "value": 60,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        352
      ],
      "id": "b1330458-092a-476f-9510-ddf962702dbf",
      "name": "settings"
    },
    {
      "parameters": {
        "content": "## Settings\n\nendpoint - your overseer url\nkey - overseer api key\nlessDetail - less or more details (look to right for an explanation)\nwarnAfter - how many days in limbo do you want your downloads to be in before you get a warning? ",
        "height": 528,
        "width": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -768,
        48
      ],
      "typeVersion": 1,
      "id": "c1f7891e-ec01-4fda-bf1d-6fddc6d12e46",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Set your trigger!\nI dont know, maybe like a daily cron job or something?! You decide.",
        "height": 528,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1168,
        48
      ],
      "typeVersion": 1,
      "id": "6a4385e0-5258-45c9-a33f-6579967b7c7d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "url": "={{ $json.endpoint }}/api/v1/request?take=100 ",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "X-Api-Key",
              "value": "={{ $json.key }}"
            }
          ]
        }
      },
      "id": "956c73e9-9cc6-49a6-ad58-fbc7336f2783",
      "name": "Get Overseerr Requests",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -176,
        416
      ]
    },
    {
      "parameters": {
        "functionCode": "\nconst data = $json.results || [];\n\nconst pending = data.filter(r => r.status === 1);\nconst approved = data.filter(r => r.status === 2);\nconst available = data.filter(r => r.status === 3);\nconst stalled = data.filter(r => r.status === 2 && r.media?.status !== 5);\n\nreturn [{\n  json: {\n    date: new Date().toISOString().split('T')[0],\n    pending_count: pending.length,\n    approved_count: approved.length,\n    available_count: available.length,\n    stalled_count: stalled.length,\n    stalled_items: stalled.map(r => ({\n      title: r.media?.mediaInfo?.title || r.media?.title || 'Unknown',\n      movieId: r.id,\n      tmdbId: r.media.tmdbId,\n      mediaType: r.media?.mediaType || 'unknown',\n      status: 'approved',\n      downloadStatus: r.media?.status,\n      requestedBy: r.requestedBy.plexUsername,\n      createdDate: r.createdAt\n    }))\n  }\n}];\n"
      },
      "id": "456ebade-b2d9-476a-89bf-26ba59b995ab",
      "name": "Process Overseerr Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        0,
        416
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "stalled_items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        176,
        416
      ],
      "id": "a6e04fca-64af-4938-b961-3e0d0770d83a",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        368,
        336
      ],
      "id": "70cae0c8-7196-4292-95ae-821cce366b5e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "={{ $('settings1').item.json.endpoint }}/api/v1/{{ $json.detailsEndpoint }}",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "X-Api-Key",
              "value": "={{ $('settings1').item.json.key }}"
            }
          ]
        }
      },
      "id": "faa08efa-7651-4077-8015-d0281c59ad09",
      "name": "Get Overseerr Requests1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        560,
        640
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "493c906e-d8a5-4085-b986-2ee15551e924",
              "name": "originalTitle",
              "value": "={{ $json.originalTitle }}",
              "type": "string"
            },
            {
              "id": "76331aa0-6b66-464c-ba0a-a5387cb2de4c",
              "name": "mediaType",
              "value": "={{ $json.mediaType }}",
              "type": "string"
            },
            {
              "id": "847e4fe6-d1c6-433f-95fd-4cfa7da0cd63",
              "name": "createdDate",
              "value": "={{ $json.createdDate }}",
              "type": "string"
            },
            {
              "id": "16950b70-01e7-4533-9851-0de7fafbd03a",
              "name": "daysSinceRequested",
              "value": "={{ $json.daysSinceRequested }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        176
      ],
      "id": "eb865ad1-1975-4d1f-8fa2-02f26da113dc",
      "name": "lessDetails"
    },
    {
      "parameters": {
        "url": "={{ $json.endpoint }}/api/v1/media?filter=processing",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "X-Api-Key",
              "value": "={{ $json.key }}"
            }
          ]
        }
      },
      "id": "137b5335-704b-4715-8b2d-267322ee5f3d",
      "name": "Get Overseerr Requests2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -176,
        256
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        176,
        256
      ],
      "id": "2d494a10-a4d5-4d58-96bd-3c77c1e49a0c",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.lessDetail }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "fbb27dc3-3f0e-4c24-ba49-c8cd071499f0"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "less"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ab366dca-5538-4ede-82ad-eff424778900",
                    "leftValue": "={{ $json.lessDetail }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "more"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -400,
        352
      ],
      "id": "e10d871f-5402-4602-8cfe-393c6743163e",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0257bd5d-8560-4073-9918-8ec14db94649",
              "name": "results",
              "value": "={{ $json.results }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        256
      ],
      "id": "e985ff91-f0ba-4b4d-b140-3db625a6b084",
      "name": "lilCleanUp"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3a7fbbfa-84c0-4326-9e8d-1c4853126dac",
              "name": "movieId",
              "value": "={{ $('Loop Over Items').item.json.movieId }}{{ $('Loop Over Items').item.json.id }}",
              "type": "number"
            },
            {
              "id": "21618457-af69-4927-8966-993b7e998fa0",
              "name": "tmdbId",
              "value": "={{ $('Loop Over Items').item.json.tmdbId }}",
              "type": "number"
            },
            {
              "id": "5fe4c811-b685-42a0-aece-a507f2875b1c",
              "name": "mediaType",
              "value": "={{ $('Loop Over Items').item.json.mediaType }}",
              "type": "string"
            },
            {
              "id": "1141d9ed-57f7-4b04-a79a-757976c71f3c",
              "name": "status",
              "value": "={{ $('Loop Over Items').item.json.status }}",
              "type": "string"
            },
            {
              "id": "e91aed22-f8cb-40d6-b3ed-dcbab273fef7",
              "name": "downloadStatus",
              "value": "={{ $('Loop Over Items').item.json.downloadStatus }}",
              "type": "number"
            },
            {
              "id": "8fe27f8d-1d67-4fe6-9291-7a8315bec6e5",
              "name": "requestedBy",
              "value": "={{ $('Loop Over Items').item.json.requestedBy }}",
              "type": "string"
            },
            {
              "id": "c5fd8ae4-5a80-4aa7-a1ba-f185e113a593",
              "name": "originalTitle",
              "value": "={{ $json.originalTitle }}{{ $json.originalName }}",
              "type": "string"
            },
            {
              "id": "86fb7cae-5d6d-4592-8ff6-3728a055b9a0",
              "name": "createdDate",
              "value": "={{ $('Loop Over Items').item.json.createdDate }}{{ $('Loop Over Items').item.json.createdAt }}",
              "type": "string"
            },
            {
              "id": "12c32998-3518-4ad4-a2f6-1393668d8c89",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        640
      ],
      "id": "2f202700-f855-46ea-9fd4-aa80c3b6bf2d",
      "name": "terribleMerge"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        848,
        640
      ],
      "id": "0c9a5278-49bf-4f2c-8392-e9f7b4f04093",
      "name": "GoodThingsComeToThoseWhoWait",
      "webhookId": "75d0a1b3-a42c-4eda-ac4f-6e90d21cf5db"
    },
    {
      "parameters": {
        "content": "## Details Loop!\n\n- Repeatedly poke your Overseer to get human readable details poke poke poke\n- Maybe.... split this into batches if you have a lot waiting...\n- Checks if they exceed warn after",
        "height": 416,
        "width": 816
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        352,
        464
      ],
      "typeVersion": 1,
      "id": "18310360-f1d1-4415-8f06-36e0dad275e2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Overseer API\n- Less uses the /media api call, showing shows that have been requested but still \"processing\". So havent been downloaded\n\n- More uses /request api call and some filtering of the status to include tv shows that are only \"partially\" available, or missing seasons.",
        "height": 528,
        "width": 752
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -416,
        48
      ],
      "typeVersion": 1,
      "id": "79689c7e-69cc-42d1-a56d-146bc4016fa8",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "const id = $input.first().json.tmdbId;\nconst type = $input.first().json.mediaType;\n\nreturn [\n  {\n    json: {\n      id,\n      type,\n      detailsEndpoint: `${type}/${id}`\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        640
      ],
      "id": "ab78f82f-e2dd-4f69-94a2-10e839f94f21",
      "name": "movieOrTv"
    },
    {
      "parameters": {
        "content": "## ExitPoint\n\n- maybe an email? or telegram... can n8n automate carrier pigeons yet?",
        "height": 400,
        "width": 176
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        992,
        48
      ],
      "typeVersion": 1,
      "id": "bf0d164c-dd2f-4f70-82e4-ceea88931478",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('settings1').item.json.lessDetail }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "3335f8d6-1949-4e3f-a090-33a62374ddf7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "less"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0ce259da-7716-44cf-b71b-e5cf58d66947",
                    "leftValue": "={{ $('settings1').item.json.lessDetail }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "more"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        640,
        288
      ],
      "id": "ed3d5c63-111a-49cb-ab5f-bf7e29126ce0",
      "name": "detailLevel"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b1877c1e-7aa3-4c2b-a384-834889fecb55",
              "leftValue": "={{ $json.daysSinceRequested }}",
              "rightValue": "={{ $('settings1').item.json.warnAfter }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        512,
        288
      ],
      "id": "a77c24b1-ac96-4142-8c55-2fcf4cdcbe17",
      "name": "IfOverXDays2"
    },
    {
      "parameters": {
        "content": "## If Over Date\n - Ignore the fresh items, and aggregate's evreything to pass on",
        "height": 400,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        496,
        48
      ],
      "typeVersion": 1,
      "id": "d5752cdf-4996-4984-b3c7-f584ed7e3b6c",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "jsCode": "const currentDate = new Date();\nconst MS_PER_DAY = 1000 * 60 * 60 * 24;\n\n// Use 'items.map' for concise transformation in n8n's Code node\nreturn items.map(item => {\n    // 1. Get the created date from the current item\n    const createdDateStr = item.json.createdDate;\n    \n    // Check if the createdDate exists and is a string\n    if (createdDateStr) {\n        // 2. Convert the ISO string to a Date object\n        const createdDate = new Date(createdDateStr);\n        \n        // 3. Calculate the difference in milliseconds\n        // The subtraction of two Date objects yields the difference in milliseconds\n        const timeDifferenceMs = currentDate.getTime() - createdDate.getTime();\n        \n        // 4. Convert milliseconds to days and round down to the nearest whole number\n        const daysSinceCreation = Math.floor(timeDifferenceMs / MS_PER_DAY);\n        \n        // 5. Add the new field to the item's JSON data\n        item.json.daysSinceRequested = daysSinceCreation;\n    } else {\n        // Handle cases where createdDate might be missing or invalid\n        item.json.daysSinceRequested = null; \n    }\n    \n    // Return the modified item\n    return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        640
      ],
      "id": "9d7223b8-ac92-41dc-9195-fd8e47e675f0",
      "name": "calculateDaysSinceRequested"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "172025b1-0164-4c40-b082-9e25a46cbee4",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1024,
        288
      ],
      "id": "f7b88724-51e0-4e85-83af-c3e3fff26475",
      "name": "REPLACEME!"
    },
    {
      "parameters": {
        "jsCode": "// assume input: an array of items (old scheme) at `items`\nconst stalledItems = items.map(item => item.json || item); // just in case it's wrapped\n\n// Get the length of the array\nconst count = stalledItems.length;\n// Build the new output object\nreturn [\n  {\n    json: {\n      output: {\n        date: new Date().toISOString().split('T')[0],\n        stalled_count: count,\n        stalled_over_date: stalledItems\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        288
      ],
      "id": "d8f3a817-dabe-4f88-8e26-e09d974f2cf1",
      "name": "cleanUp"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "settings": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Overseerr Requests": {
      "main": [
        [
          {
            "node": "Process Overseerr Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Overseerr Data": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "IfOverXDays2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "movieOrTv",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Overseerr Requests1": {
      "main": [
        [
          {
            "node": "terribleMerge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lessDetails": {
      "main": [
        [
          {
            "node": "cleanUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Overseerr Requests2": {
      "main": [
        [
          {
            "node": "lilCleanUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get Overseerr Requests2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Overseerr Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lilCleanUp": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "terribleMerge": {
      "main": [
        [
          {
            "node": "GoodThingsComeToThoseWhoWait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GoodThingsComeToThoseWhoWait": {
      "main": [
        [
          {
            "node": "calculateDaysSinceRequested",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "movieOrTv": {
      "main": [
        [
          {
            "node": "Get Overseerr Requests1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "detailLevel": {
      "main": [
        [
          {
            "node": "lessDetails",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cleanUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfOverXDays2": {
      "main": [
        [
          {
            "node": "detailLevel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "calculateDaysSinceRequested": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cleanUp": {
      "main": [
        [
          {
            "node": "REPLACEME!",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  }
}
